name: Build and Release [Linux]
on: [push, pull_request]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 11
      - name: Compilation
        uses: eskatos/gradle-command-action@v3
        with:
          arguments: classes
      - name: Unit tests
        uses: eskatos/gradle-command-action@v3
        with:
          arguments: test
      - name: Integration tests
        uses: eskatos/gradle-command-action@v3
        with:
          arguments: integrationTest
      - name: Assemble artifact
        uses: eskatos/gradle-command-action@v3
        with:
          arguments: assemble
      - name: Store artifact
        uses: actions/upload-artifact@v4
        with:
          name: gradle-cargo-plugin.jar
          path: build/libs/*.jar